<template>
  <header
    class="self-stretch flex w-full flex-col mt-12 max-md:max-w-full px-24"
  >
    <nav
      class="items-start self-center flex w-full max-w-[1718px] justify-between gap-5 px-5 max-md:max-w-full max-md:flex-wrap"
    >
      <div class="items-start flex gap-3.5">
        <img
          loading="lazy"
          srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/6831155a-b0ab-4bae-b037-cbfb5b31e7cc?apiKey=df9f09e40a1f462882453c18298ba932&"
          class="aspect-[1.07] object-cover object-center w-[31px] fill-black overflow-hidden self-center shrink-0 my-auto"
        />
        <h1 class="text-black text-4xl font-black tracking-wider self-stretch">
          FASHION
        </h1>
      </div>
      <div
        class="items-start flex w-[840px] max-w-full justify-between gap-5 mt-0.5 max-md:flex-wrap"
      >
        <div
          class="items-start self-center flex w-[652px] max-w-full grow shrink-0 basis-auto justify-between gap-5 my-auto max-md:flex-wrap max-md:justify-center"
        >
          <div
            class="text-neutral-800 text-2xl font-medium tracking-wide w-[145px]"
          >
            CATALOGUE
          </div>
          <div class="text-neutral-800 text-2xl font-medium tracking-wide">
            FASHION
          </div>
          <div
            class="text-neutral-800 text-2xl font-medium tracking-wide w-[132px]"
          >
            FAVOURITE
          </div>
          <div class="text-neutral-800 text-2xl font-medium tracking-wide">
            LIFESTYLE
          </div>
        </div>
        <a
          href="#"
          class="justify-center items-center bg-black self-stretch flex w-[134px] max-w-full flex-col px-5 py-3.5 rounded-lg"
        >
          <div
            class="text-white text-2xl font-medium tracking-tighter self-center"
          >
            SIGN UP
          </div>
        </a>
      </div>
    </nav>
  </header>
  <section
    class="bg-neutral-100 self-center flex w-full max-w-[1720px] flex-col mt-14 pt-10 px-5 rounded-[59px] max-md:max-w-full"
  >
    <div class="self-center w-full max-w-[1520px] mt-7 max-md:max-w-full px-24">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-2/5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-12">
            <h2
              class="text-black text-8xl font-black leading-[125%] max-w-[474px] max-md:max-w-full max-md:text-4xl"
            >
              LET’S<br />EXPLORE<br />UNIQUE<br />CLOTHES.
            </h2>
            <p
              class="text-neutral-900 text-3xl tracking-tighter mt-16 max-md:max-w-full"
            >
              Live for Influential and Innovative fashion!
            </p>
            <div
              class="items-start flex w-[444px] max-w-full justify-between gap-5 mt-14 max-md:flex-wrap"
            >
              <img
                loading="lazy"
                srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/bc138478-34b9-4e44-ba38-5d2ff31025fe?apiKey=df9f09e40a1f462882453c18298ba932&"
                class="aspect-[6.13] object-cover object-center w-[190px] fill-amber-300 overflow-hidden self-center shrink-0 my-auto"
              />
              <a
                href="#"
                class="justify-center items-center bg-black self-stretch flex w-[220px] max-w-full flex-col px-5 py-5 rounded-xl"
              >
                <div
                  class="text-white text-3xl font-medium tracking-tighter self-center"
                >
                  Shop Now
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-3/5 ml-5 max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b8d1aa78-abbd-4125-8455-c61487e4116e?apiKey=df9f09e40a1f462882453c18298ba932&"
            class="aspect-[1.14] object-cover object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-11"
          />
        </div>
      </div>
    </div>
  </section>
  <section
    class="bg-amber-300 self-stretch flex w-full flex-col mt-16 px-5 py-10 max-md:max-w-full"
  >
    <div
      class="items-start self-center flex w-full max-w-[1577px] justify-between gap-5 mt-5 mb-3.5 max-md:max-w-full max-md:flex-wrap max-md:justify-center"
    >
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e365a1db-1bd7-4d2e-b940-c105cb59c53f?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[1.71] object-cover object-center w-[118px] bg-blend-darken overflow-hidden shrink-0 mt-px"
      />
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/27507a33-4d5f-4caf-b735-184b8965e247?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[2.83] object-cover object-center w-[150px] overflow-hidden bg-blend-multiply self-center shrink-0 my-auto"
      />
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3244e4d8-1f36-43d3-ab84-df3e10f37040?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[2.84] object-cover object-center w-44 overflow-hidden bg-blend-multiply self-center shrink-0 my-auto"
      />
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e976eb24-c7bb-48c9-9716-f04d1bbd050c?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[3.36] object-cover object-center w-[235px] overflow-hidden bg-blend-multiply shrink-0"
      />
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2604347f-c907-4577-a072-1197c9f1ad69?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[1.79] object-cover object-center w-[127px] overflow-hidden bg-blend-multiply shrink-0"
      />
      <img
        loading="lazy"
        srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/5a0eb727-dbdb-4ec3-ab18-ebd6bb331b1c?apiKey=df9f09e40a1f462882453c18298ba932&"
        class="aspect-[2.63] object-cover object-center w-[166px] overflow-hidden bg-blend-multiply self-center shrink-0 my-auto"
      />
    </div>
  </section>
  <section
    class="self-center flex w-full max-w-[1638px] flex-col mt-20 px-24 max-md:max-w-full"
  >
    <h2
      class="text-black text-5xl font-black leading-[104.17%] tracking-[2.88px] max-md:text-4xl"
    >
      NEW ARRIVALS
    </h2>
    <div class="self-center w-full -ml-5 mt-28 max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-12">
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/bdc5138b-a9b0-4533-a7d5-c9dff597b98a?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-[0.69] object-cover object-center w-full overflow-hidden max-md:max-w-full"
            />
            <div
              class="items-center flex w-[321px] max-w-full grow flex-col mt-7"
            >
              <div class="items-start self-stretch flex grow flex-col">
                <h3
                  class="text-zinc-900 text-3xl font-medium leading-[156.25%] tracking-tighter"
                >
                  Hoodies & Sweetshirt
                </h3>
                <p
                  class="text-zinc-500 text-2xl font-medium leading-[208.33%] tracking-tighter w-[162px] mt-2"
                >
                  Explore Now!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[33%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-12">
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/3ecd14b1-3b36-4da0-b060-124f9b8da0b8?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-[0.69] object-cover object-center w-full overflow-hidden max-md:max-w-full"
            />
            <div
              class="items-center flex w-[230px] max-w-full grow flex-col mt-7"
            >
              <div class="items-start self-stretch flex grow flex-col">
                <h3
                  class="text-zinc-900 text-3xl font-medium leading-[156.25%] tracking-tighter"
                >
                  Coats & Parkas
                </h3>
                <p
                  class="text-zinc-500 text-2xl font-medium leading-[208.33%] tracking-tighter w-[164px] mt-2"
                >
                  Explore Now!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-col items-stretch w-[34%] ml-5 max-md:w-full max-md:ml-0"
        >
          <div class="flex flex-col my-auto max-md:max-w-full max-md:mt-12">
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/187b9ade-e980-4c2e-873f-130d637ea8ab?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-[0.7] object-cover object-center w-full overflow-hidden max-md:max-w-full"
            />
            <div
              class="items-center flex w-[209px] max-w-full grow flex-col mt-6"
            >
              <div class="items-start self-stretch flex grow flex-col">
                <h3
                  class="text-zinc-900 text-3xl font-medium leading-[156.25%] tracking-tighter"
                >
                  Tees & T-Shirt
                </h3>
                <p
                  class="text-zinc-500 text-2xl font-medium leading-[208.33%] tracking-tighter mt-2"
                >
                  Explore Now!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="self-stretch w-full mt-48 px-24 max-md:max-w-full">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[51%] max-md:w-full max-md:ml-0"
      >
        <div
          class="flex-col overflow-hidden relative flex min-h-[968px] grow px-5 py-10 max-md:max-w-full"
        >
          <img
            loading="lazy"
            srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/88b397e0-603a-4d11-9099-0d61f969398a?apiKey=df9f09e40a1f462882453c18298ba932&"
            class="absolute z-[-1] h-full w-full object-cover object-center inset-0"
          />
          <div
            class="relative self-center flex w-[752px] max-w-full flex-col ml-7 mt-16 mb-40"
          >
            <div
              class="flex w-[701px] max-w-full items-start justify-between gap-5 max-md:flex-wrap"
            >
              <img
                loading="lazy"
                srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/9b87ebe8-690e-4b8a-9406-98f85debf454?apiKey=df9f09e40a1f462882453c18298ba932&"
                class="aspect-square object-cover object-center w-[72px] rotate-[-27.028deg] fill-white fill-opacity-50 overflow-hidden shrink-0 mt-16"
              />
              <img
                loading="lazy"
                srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/7fc8d06a-9e05-4bb5-978b-fdc3cc95b26a?apiKey=df9f09e40a1f462882453c18298ba932&"
                class="aspect-square object-cover object-center w-[72px] rotate-[-27.028deg] fill-white fill-opacity-50 overflow-hidden shrink-0"
              />
            </div>
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b4d5c414-2b9f-43c4-b154-7244ca6ef09e?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-square object-cover object-center w-[72px] rotate-[-27.028deg] fill-white fill-opacity-50 overflow-hidden shrink-0 ml-12 mt-64 max-md:ml-2.5 max-md:mt-52"
            />
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/39e99139-533c-481d-aec1-4f8f6aedd48f?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-square object-cover object-center w-[72px] rotate-[-27.028deg] fill-white fill-opacity-50 overflow-hidden shrink-0 mt-20"
            />
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[49%] ml-5 max-md:w-full max-md:ml-0"
      >
        <div
          class="flex grow flex-col w-full mx-auto px-5 py-10 max-md:max-w-full"
        >
          <div
            class="self-center flex w-[639px] max-w-full flex-col -ml-14 mt-32 mb-20"
          >
            <div
              class="text-black text-8xl font-black leading-[122.92%] w-[594px] max-w-full max-md:text-4xl"
            >
              PAYDAY<br />SALE NOW
            </div>
            <div
              class="text-stone-900 text-4xl font-medium leading-[145.16%] tracking-tighter mt-14 max-md:max-w-full"
            >
              Spend minimal $100 get 30% off<br />voucher code for your next
              purchase
            </div>
            <div class="items-start flex w-[491px] max-w-full flex-col mt-6">
              <div
                class="text-black text-4xl font-bold leading-[145.16%] tracking-wider max-w-[461px] max-md:max-w-full"
              >
                1 June - 10 June 2021
              </div>
              <div
                class="text-black text-4xl leading-[145.16%] tracking-tighter max-md:max-w-full"
              >
                *Terms & Conditions apply
              </div>
            </div>
            <a
              href="#"
              class="justify-center items-center bg-black flex w-[260px] max-w-full grow flex-col mt-14 px-5 py-7 rounded-lg"
            >
              <div
                class="text-white text-3xl font-semibold tracking-wide self-center"
              >
                SHOP NOW
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="self-center flex w-full max-w-[1720px] flex-col mt-48 px-24 max-md:max-w-full"
  >
    <h2
      class="text-black text-5xl font-black leading-[104.17%] tracking-[2.88px] max-md:max-w-full max-md:text-4xl"
    >
      Young’s Favourite
    </h2>
    <div class="self-center w-full -ml-5 mt-28 max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/476a5a88-6dce-4b59-b923-6993792d2e1c?apiKey=df9f09e40a1f462882453c18298ba932&"
            class="aspect-[1.45] object-cover object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-12"
          />
        </div>
        <div
          class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/db2508f6-29ee-422a-802f-02c38f06dc63?apiKey=df9f09e40a1f462882453c18298ba932&"
            class="aspect-[1.46] object-cover object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-12"
          />
        </div>
      </div>
    </div>
    <div
      class="self-center flex w-full max-w-[1082px] items-start justify-between gap-5 mt-7 max-md:max-w-full max-md:flex-wrap"
    >
      <div class="items-center self-stretch flex flex-col">
        <div class="items-start self-stretch flex grow flex-col">
          <h3
            class="text-black text-3xl font-medium leading-[156.25%] tracking-tighter"
          >
            Trending on instagram
          </h3>
          <p
            class="text-zinc-500 text-2xl font-medium leading-[208.33%] tracking-tighter mt-2"
          >
            Explore Now!
          </p>
        </div>
      </div>
      <div class="items-center self-stretch flex flex-col">
        <div class="items-start self-stretch flex grow flex-col">
          <h3
            class="text-black text-3xl font-medium leading-[156.25%] tracking-tighter"
          >
            All Under $40
          </h3>
          <p
            class="text-zinc-500 text-2xl font-medium leading-[208.33%] tracking-tighter mt-2"
          >
            Explore Now!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    class="self-center w-full max-w-[1483px] mt-56 px-24 max-md:max-w-full max-md:mt-52"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[55%] max-md:w-full max-md:ml-0"
      >
        <div
          class="items-start flex flex-col my-auto max-md:max-w-full max-md:mt-12"
        >
          <div class="items-start flex w-[507px] max-w-full flex-col">
            <h2
              class="text-black text-5xl font-black leading-[72px] tracking-[2.88px] max-md:max-w-full max-md:text-4xl"
            >
              DOWNLOAD APP &<br />GET THE VOUCHER!
            </h2>
            <p
              class="text-neutral-500 text-2xl font-medium leading-[145.83%] tracking-tighter max-w-[419px] mt-10"
            >
              Get 30% off for first transaction using<br />Rondovision mobile
              app for now.
            </p>
          </div>
          <div
            class="items-start flex w-[427px] max-w-full gap-5 mt-16 max-md:flex-wrap"
          >
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/01d82431-b3bb-4481-b6ec-cce90241d166?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-[2.87] object-cover object-center w-[204px] overflow-hidden shrink-0"
            />
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/a0384bc6-b6b9-48f6-a174-db695cf2bbc9?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-[2.87] object-cover object-center w-[204px] overflow-hidden shrink-0"
            />
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-stretch w-[2%] ml-5 max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/d8d13db0-8102-46f0-b462-3693860e1e88?apiKey=df9f09e40a1f462882453c18298ba932&"
          class="aspect-square object-cover object-center w-[34px] fill-amber-300 overflow-hidden shrink-0 mt-[669px] max-md:mt-52"
        />
      </div>
      <div
        class="flex flex-col items-stretch w-[43%] ml-5 max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/2880e3fa-1bf6-46ec-a6fe-46a3091bc67c?apiKey=df9f09e40a1f462882453c18298ba932&"
          class="aspect-[0.9] object-cover object-center w-full overflow-hidden grow mx-auto rounded-[637px] border-[2.5px] border-solid border-gray-200 max-md:max-w-full"
        />
      </div>
    </div>
  </section>
  <section
    class="self-stretch flex w-full flex-col mt-56 max-md:max-w-full max-md:mt-52"
  >
    <div
      class="bg-amber-300 self-stretch flex w-full flex-col px-5 py-10 max-md:max-w-full"
    >
      <h2
        class="text-white text-center text-6xl font-black leading-[127.27%] tracking-widest self-center max-w-[966px] mt-24 max-md:max-w-full max-md:text-4xl"
      >
        JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO
      </h2>
      <p
        class="text-stone-50 text-3xl leading-[109.38%] tracking-wider self-center ml-0 max-w-[1086px] mt-10 max-md:max-w-full"
      >
        Type your email down below and be young wild generation
      </p>
      <div
        class="bg-white self-center flex w-[574px] max-w-full items-start justify-between gap-5 mt-10 mb-20 pl-5 pr-2.5 py-2.5 rounded-xl max-md:flex-wrap"
      >
        <label
          for="email"
          class="text-neutral-500 text-2xl leading-[145.83%] tracking-wider self-center max-w-[289px] grow shrink-0 basis-auto my-auto"
          >Add your email here</label
        >
        <button
          type="submit"
          class="bg-black self-stretch flex w-[161px] max-w-full flex-col px-5 py-6 rounded-lg"
        >
          <div
            class="text-white text-4xl font-medium leading-[106.06%] tracking-wider capitalize self-center -mb-px"
          >
            SEND
          </div>
        </button>
      </div>
    </div>
    <div
      class="bg-black self-stretch flex w-full flex-col px-24 py-10 max-md:max-w-full"
    >
      <div
        class="self-center flex w-full max-w-[1718px] items-start justify-between gap-5 mt-20 mb-20 max-md:max-w-full max-md:flex-wrap"
      >
        <div class="items-start flex flex-col">
          <h2 class="text-white text-4xl font-black tracking-wider">FASHION</h2>
          <p
            class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide w-[415px] max-w-full mt-8"
          >
            Complete your style with awesome clothes from us.
          </p>
          <div
            class="items-start flex w-[250px] max-w-full gap-3.5 mt-8 max-md:justify-center"
          >
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/b3874a2b-646f-489e-95cf-c6ce83b3947d?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-square object-cover object-center w-[52px] overflow-hidden shrink-0"
            />
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/c604cfd7-c15c-4072-994f-cdf5418d3909?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-square object-cover object-center w-[52px] overflow-hidden shrink-0"
            />
            <img
              loading="lazy"
              srcSet="https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/fdbfec9d-7cdf-4999-83dc-c8e7a8f47098?apiKey=df9f09e40a1f462882453c18298ba932&"
              class="aspect-square object-cover object-center w-[52px] overflow-hidden shrink-0"
            />
            <div
              class="text-black text-2xl font-bold leading-[166.67%] tracking-wide self-stretch bg-amber-300 w-[52px] max-w-full pl-4 pr-5 pt-4 pb-5 rounded-2xl"
            >
              in
            </div>
          </div>
        </div>
        <div class="grow shrink-0 basis-auto mt-4 max-md:max-w-full">
          <div
            class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
          >
            <div
              class="flex flex-col items-stretch w-[73%] max-md:w-full max-md:ml-0"
            >
              <div class="grow max-md:max-w-full max-md:mt-12">
                <div
                  class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
                >
                  <div
                    class="flex flex-col items-stretch w-[54%] max-md:w-full max-md:ml-0"
                  >
                    <div class="flex grow flex-col mt-px max-md:mt-12">
                      <h3
                        class="text-zinc-300 text-2xl leading-[166.67%] tracking-wide"
                      >
                        Company
                      </h3>
                      <p
                        class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide mt-5"
                      >
                        About
                      </p>
                      <p
                        class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide mt-7"
                      >
                        Contact us
                      </p>
                      <p
                        class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide mt-8"
                      >
                        Support
                      </p>
                      <p
                        class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide mt-6"
                      >
                        Careers
                      </p>
                    </div>
                  </div>
                  <div
                    class="flex flex-col items-stretch w-[46%] ml-5 max-md:w-full max-md:ml-0"
                  >
                    <div class="flex grow flex-col max-md:mt-12">
                      <h3
                        class="text-zinc-300 text-2xl leading-[166.67%] tracking-wide"
                      >
                        Quick Link
                      </h3>
                      <p
                        class="text-neutral-500 text-2xl leading-[166.67%] tracking-wide mt-6"
                      >
                        Share Location
                      </p>
                      <p
                        class="text-neutral-500 text-2xl leading-[166.67%] tracking-wide mt-7"
                      >
                        Orders Tracking
                      </p>
                      <p
                        class="text-neutral-500 text-2xl leading-[166.67%] tracking-wide mt-5"
                      >
                        Size Guide
                      </p>
                      <p
                        class="text-neutral-500 text-2xl leading-[166.67%] tracking-wide mt-7"
                      >
                        FAQs
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col items-stretch w-[27%] ml-5 max-md:w-full max-md:ml-0"
            >
              <div class="flex flex-col max-md:mt-12">
                <h3
                  class="text-gray-200 text-2xl leading-[166.67%] tracking-wide"
                >
                  Legal
                </h3>
                <p
                  class="text-neutral-400 text-2xl leading-[166.67%] tracking-wide mt-6"
                >
                  Terms & conditions
                </p>
                <p
                  class="text-neutral-500 text-2xl leading-[166.67%] tracking-wide mt-6"
                >
                  Privacy Policy
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
